<!DOCTYPE html>
<html lang="ru">
<head>
  <title>FyDance - онлайн сервис по танцам</title>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, width=device-width viewport-fit=cover">
  <link rel="stylesheet" th:href="@{/css/output.css}">
  <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;600;700&display=swap"
  >
  <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Kaushan+Script:wght@400&display=swap"
  >
</head>
<body>
<div
    class="relative bg-default-gray-50 w-full h-max overflow-hidden flex flex-col pt-0 px-0 pb-[60px] box-border items-center justify-between text-center text-base text-dark-main-black font-caption-caption"
>
  <div
      class="bg-white-white h-[120px] overflow-hidden shrink-0 flex flex-col py-9 px-72 box-border items-center justify-between"
  >
    <div class="rounded-6xl bg-mediumslateblue w-[290px] h-12 hidden"></div>
    <div class="flex flex-row items-center justify-start gap-[177px]">
      <div class="flex flex-row items-center justify-start gap-[120px]">
        <img
            class="relative w-36 h-[45.02px] object-cover"
            alt=""
          src="/files/logo_FyDance.png"
         >
        <div class="flex flex-row items-start justify-start gap-[55px]">
          <div
              class="flex flex-col items-center justify-start gap-[8px] text-blue-main"
          >
            <div class="relative font-semibold inline-block w-20">
              Главная
            </div>
            <div
                class="relative rounded-10xs bg-blue-main w-20 h-[3px] overflow-hidden shrink-0"
            ></div>
          </div>
          <div
              class="w-[140px] flex flex-col items-center justify-start gap-[8px]"
          >
            <div class="relative font-semibold inline-block w-[136px]">
              Онлайн уроки
            </div>
            <div
                class="relative rounded-10xs bg-blue-main w-20 h-[3px] overflow-hidden shrink-0 hidden"
            ></div>
          </div>
          <div class="flex flex-col items-center justify-start gap-[8px]">
            <div class="relative font-semibold">Сотрудничество</div>
            <div
                class="relative rounded-10xs bg-blue-main w-20 h-[3px] overflow-hidden shrink-0 hidden"
            ></div>
          </div>
        </div>
      </div>
      <div
          class="flex flex-row items-center justify-start gap-[16px] text-left text-white-white"
      >
        <div
            class="rounded-31xl bg-blue-main w-[358px] h-12 overflow-hidden shrink-0 flex flex-row py-6 px-[52px] box-border items-center justify-center"
        >
          <div class="relative font-semibold">Начать бесплатно</div>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
          <path d="M8.86017 32.3973C9.87404 30.0086 12.2412 28.3333 14.9997 28.3333H24.9997C27.7581 28.3333 30.1253 30.0086 31.1392 32.3973M26.6663 15.8333C26.6663 19.5151 23.6816 22.4999 19.9997 22.4999C16.3178 22.4999 13.333 19.5151 13.333 15.8333C13.333 12.1514 16.3178 9.16659 19.9997 9.16659C23.6816 9.16659 26.6663 12.1514 26.6663 15.8333ZM36.6663 19.9999C36.6663 29.2047 29.2044 36.6666 19.9997 36.6666C10.7949 36.6666 3.33301 29.2047 3.33301 19.9999C3.33301 10.7952 10.7949 3.33325 19.9997 3.33325C29.2044 3.33325 36.6663 10.7952 36.6663 19.9999Z" stroke="#2B53E2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </div>
    </div>
  </div>
  <div
      class="h-[1007px] flex flex-col items-center justify-between text-left"
  >
    <div class="w-[1344px] flex flex-row items-center justify-between">
      <div
          class="w-[620px] flex flex-col items-start justify-start gap-[40px]"
      >
        <b
            class="relative text-19xl inline-block w-[620px] h-[97px] shrink-0"
        >Танцуй по жизни, а мы поможем!
        </b>
        <div class="relative leading-[34px] flex items-center w-[611px]">
          Мы -проект “FyDance”! Наша цель - помочь научить тебя танцевать и
          мы предлагаем вашему вниманию серию эксклюзивных курсов по разным
          направлениям танцев
        </div>
        <a href="https://www.behance.net"
           class="rounded-31xl bg-blue-main w-[522px] overflow-hidden flex flex-row py-6 px-[52px] box-border items-center justify-center text-white-white no-underline"
        >
          <div class="relative font-semibold">Начать бесплатно</div>
        </a>
      </div>
      <div
          class="relative w-[629px] h-[492px] overflow-hidden shrink-0 text-[20.91px] text-blue-blue-light"
      >
        <div class="absolute top-[43px] left-[11px] w-[618px] h-[406.58px]">
          <img
              class="absolute top-[0px] left-[0px] w-[618px] h-[406.58px] object-cover"
              alt=""
              src="https://localhost/files/MacBookPro.png"
          >
          <div>
            <div
                class="absolute top-[54.6px] left-[72.02px] w-[473.95px] h-[298px] overflow-hidden text-[23.23px] text-gray-100 font-kaushan-script"
            >
              <iframe width="474" height="298" src="https://www.youtube.com/embed/HVlcuaAUvv4?playlist=HVlcuaAUvv4&loop=1&autoplay=1" title="intro" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
        class="w-[1344px] h-[455px] flex flex-col items-start justify-between text-9xl"
    >
      <div
          class="w-[1344px] flex flex-col items-start justify-start gap-[32px]"
      >
        <div class="flex flex-col items-start justify-start">
          <div
              class="relative font-semibold inline-block w-[412px] h-[37px] shrink-0"
          >
            Подборки курсов
          </div>
        </div>
        <div
            class="w-[1344px] flex flex-row items-start justify-between text-base text-white-white"
        >
          <div
              class="relative rounded-3xl w-[321px] h-[386px] overflow-hidden shrink-0 bg-[url(/assets/cardcourse.png)] bg-cover bg-no-repeat bg-[top]"
          >
            <div
                class="absolute top-[0px] left-[0px] rounded-3xl [background:linear-gradient(180deg,_rgba(0,_0,_0,_0),_rgba(0,_0,_0,_0)_18.75%,_rgba(0,_0,_0,_0.1)_28.13%,_rgba(0,_0,_0,_0.23)_40.1%,_rgba(0,_0,_0,_0.41)_53.93%,_rgba(0,_0,_0,_0.7)_71.88%,_rgba(0,_0,_0,_0.88)_85.94%,_rgba(0,_0,_0,_0.95)_99.97%,_#000_99.98%)] w-[321px] h-[386px]"
            >
              <div
                  class="absolute top-[310px] left-[24px] w-[231px] flex flex-col items-start justify-start gap-[8px]"
              >
                <div
                    class="relative font-semibold flex items-center w-[231px] h-[29px] shrink-0"
                >
                  Подборка “Семейная”
                </div>
                <div class="relative text-xs text-gray-300">
                  4 курса в подборке
                </div>
              </div>
              <div class="absolute top-[24px] left-[249px] w-10 h-10 overflow-hidden">
                <div class="rounded-full flex items-center justify-center" style="background-color: rgba(255, 255, 255, 0.50); border-radius: 50%; width: 40px ; height: 40px; ;">
                  <svg xmlns="http://www.w3.org/2000/svg" width="22" height="20" viewBox="0 0 22 20" fill="none">
                    <path d="M2.66275 11.2135L8.82377 17.7065C10.0068 18.9532 11.9932 18.9532 13.1762 17.7065L19.3372 11.2135C21.5542 8.87699 21.5543 5.08882 19.3373 2.75235C17.1203 0.415881 13.5258 0.415883 11.3088 2.75235C11.1409 2.92925 10.8591 2.92925 10.6912 2.75235C8.47421 0.415883 4.87975 0.415882 2.66275 2.75235C0.44575 5.08883 0.445751 8.87699 2.66275 11.2135Z" fill="#2B53E2" stroke="#2B53E2" stroke-width="2"/>
                  </svg>
                </div>
              </div>



            </div>
          </div>
          <div
              class="relative rounded-3xl w-[321px] h-[386px] overflow-hidden shrink-0 bg-[url(/assets/cardcourse.png)] bg-cover bg-no-repeat bg-[top]"
          >
            <div
                class="absolute top-[0px] left-[0px] rounded-3xl [background:linear-gradient(180deg,_rgba(0,_0,_0,_0),_rgba(0,_0,_0,_0)_18.75%,_rgba(0,_0,_0,_0.1)_28.13%,_rgba(0,_0,_0,_0.23)_40.1%,_rgba(0,_0,_0,_0.41)_53.93%,_rgba(0,_0,_0,_0.7)_71.88%,_rgba(0,_0,_0,_0.88)_85.94%,_rgba(0,_0,_0,_0.95)_99.97%,_#000_99.98%)] w-[321px] h-[386px]"
            >
              <div
                  class="absolute top-[310px] left-[24px] w-[231px] flex flex-col items-start justify-start gap-[8px]"
              >
                <div
                    class="relative font-semibold flex items-center w-[231px] h-[29px] shrink-0"
                >
                  Подборка “Семейная”
                </div>
                <div class="relative text-xs text-gray-300">
                  4 курса в подборке
                </div>
              </div>
              <div class="absolute top-[24px] left-[249px] w-10 h-10 overflow-hidden">
                <div class="rounded-full flex items-center justify-center" style="background-color: rgba(255, 255, 255, 0.50); border-radius: 50%; width: 40px ; height: 40px; ;">
                  <svg xmlns="http://www.w3.org/2000/svg" width="22" height="20" viewBox="0 0 22 20" fill="none">
                    <path d="M2.66275 11.2135L8.82377 17.7065C10.0068 18.9532 11.9932 18.9532 13.1762 17.7065L19.3372 11.2135C21.5542 8.87699 21.5543 5.08882 19.3373 2.75235C17.1203 0.415881 13.5258 0.415883 11.3088 2.75235C11.1409 2.92925 10.8591 2.92925 10.6912 2.75235C8.47421 0.415883 4.87975 0.415882 2.66275 2.75235C0.44575 5.08883 0.445751 8.87699 2.66275 11.2135Z" fill="#2B53E2" stroke="#2B53E2" stroke-width="2"/>
                  </svg>
                </div>
              </div>
            </div>
          </div>
          <div
              class="relative rounded-3xl w-[321px] h-[386px] overflow-hidden shrink-0 bg-[url(/assets/cardcourse.png)] bg-cover bg-no-repeat bg-[top]"
          >
            <div
                class="absolute top-[0px] left-[0px] rounded-3xl [background:linear-gradient(180deg,_rgba(0,_0,_0,_0),_rgba(0,_0,_0,_0)_18.75%,_rgba(0,_0,_0,_0.1)_28.13%,_rgba(0,_0,_0,_0.23)_40.1%,_rgba(0,_0,_0,_0.41)_53.93%,_rgba(0,_0,_0,_0.7)_71.88%,_rgba(0,_0,_0,_0.88)_85.94%,_rgba(0,_0,_0,_0.95)_99.97%,_#000_99.98%)] w-[321px] h-[386px]"
            >
              <div
                  class="absolute top-[310px] left-[24px] w-[231px] flex flex-col items-start justify-start gap-[8px]"
              >
                <div
                    class="relative font-semibold flex items-center w-[231px] h-[29px] shrink-0"
                >
                  Подборка “Семейная”
                </div>
                <div class="relative text-xs text-gray-300">
                  4 курса в подборке
                </div>
              </div>
              <div class="absolute top-[24px] left-[249px] w-10 h-10 overflow-hidden">
                <div class="rounded-full flex items-center justify-center" style="background-color: rgba(255, 255, 255, 0.50); border-radius: 50%; width: 40px ; height: 40px; ;">
                  <svg xmlns="http://www.w3.org/2000/svg" width="22" height="20" viewBox="0 0 22 20" fill="none">
                    <path d="M2.66275 11.2135L8.82377 17.7065C10.0068 18.9532 11.9932 18.9532 13.1762 17.7065L19.3372 11.2135C21.5542 8.87699 21.5543 5.08882 19.3373 2.75235C17.1203 0.415881 13.5258 0.415883 11.3088 2.75235C11.1409 2.92925 10.8591 2.92925 10.6912 2.75235C8.47421 0.415883 4.87975 0.415882 2.66275 2.75235C0.44575 5.08883 0.445751 8.87699 2.66275 11.2135Z" fill="#2B53E2" stroke="#2B53E2" stroke-width="2"/>
                  </svg>
                </div>
              </div>
            </div>
          </div>
          <div
              class="relative rounded-3xl w-[321px] h-[386px] overflow-hidden shrink-0 bg-[url(/assets/cardcourse.png)] bg-cover bg-no-repeat bg-[top]"
          >
            <div
                class="absolute top-[0px] left-[0px] rounded-3xl [background:linear-gradient(180deg,_rgba(0,_0,_0,_0),_rgba(0,_0,_0,_0)_18.75%,_rgba(0,_0,_0,_0.1)_28.13%,_rgba(0,_0,_0,_0.23)_40.1%,_rgba(0,_0,_0,_0.41)_53.93%,_rgba(0,_0,_0,_0.7)_71.88%,_rgba(0,_0,_0,_0.88)_85.94%,_rgba(0,_0,_0,_0.95)_99.97%,_#000_99.98%)] w-[321px] h-[386px]"
            >
              <div
                  class="absolute top-[310px] left-[24px] w-[231px] flex flex-col items-start justify-start gap-[8px]"
              >
                <div
                    class="relative font-semibold flex items-center w-[231px] h-[29px] shrink-0"
                >
                  Подборка “Семейная”
                </div>
                <div class="relative text-xs text-gray-300">
                  4 курса в подборке
                </div>
              </div>
              <div class="absolute top-[24px] left-[249px] w-10 h-10 overflow-hidden">
                <div class="rounded-full flex items-center justify-center" style="background-color: rgba(255, 255, 255, 0.50); border-radius: 50%; width: 40px ; height: 40px; ;">
                  <svg xmlns="http://www.w3.org/2000/svg" width="22" height="20" viewBox="0 0 22 20" fill="none">
                    <path d="M2.66275 11.2135L8.82377 17.7065C10.0068 18.9532 11.9932 18.9532 13.1762 17.7065L19.3372 11.2135C21.5542 8.87699 21.5543 5.08882 19.3373 2.75235C17.1203 0.415881 13.5258 0.415883 11.3088 2.75235C11.1409 2.92925 10.8591 2.92925 10.6912 2.75235C8.47421 0.415883 4.87975 0.415882 2.66275 2.75235C0.44575 5.08883 0.445751 8.87699 2.66275 11.2135Z" fill="#2B53E2" stroke="#2B53E2" stroke-width="2"/>
                  </svg>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
